- title @artist.name

%main
  %section.primary
    %h1#name= @artist.name
    = link_to 'Edit Aliases', artist_aliases_path(@artist)
  %section.primary
    %ul
      - @infolinks.each do |infolink|
        %li
          = link_to polymorphic_path(infolink.wave) do
            = infolink.title

  - content_for :debug do
    = debug @performances if false
    = debug @artist if 1
