<fieldset class="<%= fieldset_class %>" id="perf[<%= count['perf'] += 1 %>]">
  <p>Performance <%= count['perf'] %></p>
  <div>
    <p>Compositions</p>
    <% performance.compositions.each do |composition| %>
      <%= render 'form_composition', count: count, composition: composition %>
    <% end %>
    <button type="button" class="add-composition" data-perf-id="<%= count['perf'] %>" data-count="<%= performance.compositions.length %>">Add Composition</button>
  </div>
  <div>
    <p>Artists</p>
    <% performance.artists.each do |artist| %>
      <%= render 'form_artist', count: count, artist: artist %>
    <% end %>
    <button type="button" class="add-artist" data-perf-id="<%= count['perf'] %>" data-count="<%= performance.artists.length %>">Add Artist</button>
  </div>
</fieldset>
