<div id="error"></div>
<div id="result"></div>
<div id="success"></div>
<% if @youtube.new_record? %>
	<%= form_tag add_youtube_path, method: :post, remote: true %>
<% else %>
	<%= form_tag edit_youtube_path, method: :put, remote: true %>
		<%= hidden_field_tag 'timestamp', @youtube.associated_audits.last.created_at %>
<% end %>
		<% count = Hash.new 0 %>
		<% @youtube.performances.each do |performance| %>
			<%= render 'form_performance',
				count: count,
				fieldset_class: 'performance',
				performance: performance %>
		<% end %>
		<button type="button" class="add-performance" data-count="<%= @youtube.performances.length %>">Add performance</button>
		<%= submit_tag 'Add video' %>
	</form>
