<div id="error"></div>
<div id="success"></div>
<%= single_performance_template	%>
<% if @youtube.new_record? %>
	<%= form_tag create_youtube_path(@youtube), method: :post, remote: true %>
<% else %>
	<%= form_tag youtube_path(@youtube), method: :put, remote: true %>
		<%= hidden_field_tag 'timestamp', @youtube.updated_at %>
<% end %>
		<% count = Hash.new 0 %>
		<% @youtube.performances.each do |performance| %>
			<%= render 'form_performance',
				count: count,
				fieldset_class: 'performance',
				performance: performance %>
		<% end %>
		<button type="button" class="add-performance" data-count="<%= @youtube.performances.length %>">Add performance</button>
    <%= submit_tag 'Submit', disable_with: 'Submitting...' %>
    <button type="button" class="close">x</button>
	</form>
