<% if @info.present? %>
	<% if @info.status.embeddable and @info.status.privacyStatus == 'public' %>
		<!-- Partial: Video display. //-->
		<%= raw iframe_embed(@info.id) %>
    <div id="performance_info">
      <%= render 'performances' %>
    </div>
    <div class="warning-errors">
      <%= youtube_warnings %>
    </div>
		<!-- End partial: Video display. //-->
		<div class="options">
      <div class="open">
			<%= add_edit_link %>
      </div>
      <div class="form">
      </div>
		</div>
	<% else %>
		<p>Video is not public nor embeddable.</p>
	<% end %>
<% else %>
	<p>Video id does not exist.</p>
<% end %>
<% content_for :debug do %>
	<%= debug @result.data if 1 %>
<% end %>
