<% if @info.present? %>
	<% if @info.status.embeddable %>
		<!-- Partial: Video display. //-->
		<%= raw iframe_embed(@info.id) %>
		<div>
			<%= render 'performances' %>
		</div>
		<!-- End partial: Video display. //-->
		<%= single_performance_template	%>
		<%=
			link_to_if @youtube.new_record?, 'Add', new_youtube_path(@youtube), remote: true do
				link_to 'Edit', edit_youtube_path(@youtube), remote: true
			end
		%>
		<p><%= youtube_warnings %></p>
	<% else %>
		<p>Video is not embeddable.</p>
	<% end %>
<% else %>
	<p>Video id does not exist.</p>
<% end %>
<% content_for :debug do %>
	<%= debug @info %>
<% end %>
