<% if @info.present? %>
	<% if @info.status.embeddable %>
		<!-- Partial: Video display. //-->
		<%= raw iframe_embed(@info.id) %>
    <div id="performance_info">
      <%= render 'performances' %>
    </div>
		<!-- End partial: Video display. //-->
		<div class="options">
      <div class="open">
			<%= add_edit_link %>
      </div>
      <div class="form">
      </div>
		</div>
		<p><%= youtube_warnings %></p>
	<% else %>
		<p>Video is not embeddable.</p>
	<% end %>
<% else %>
	<p>Video id does not exist.</p>
<% end %>
<% content_for :debug do %>
	<%= debug @result.data if true %>
<% end %>
