- title @composition.title

%main
  %section.primary
    %h1#title= @composition.title
  %section.primary
    %ul
      - @infolinks.each do |infolink|
        %li
          = link_to polymorphic_path(infolink.wave) do
            = infolink.title

  - content_for :debug do
    = debug @performances if true
    = debug @artist if 1
