%header
  %nav
    = link_to 'Wavenique', root_path, class: 'logo'
    = link_to 'Me', user_path(current_user) if signed_in?
    %form#search{ action: "#{search_path}", method: "get" }
      = text_field_tag :search, params[:search]
      = submit_tag 'Search', name: nil
    = authentication_link
    = link_to 'Tsunami', tsunami_path if signed_in? and current_user.admin?
