- count['a'] = count['c'] = 0
%fieldset.formp-performance{ id: "p[#{ count['p'] += 1 }]" }
  %div.formp-label Performance

  %fieldset.formp-titles.formp-subfieldset
    %div.formp-label Titles
    %fieldset.formp-title-groups.formp-subsubfieldset
      - performance.compositions.each do |composition|
        %fieldset.formp-title-group
          = text_field_tag "p[#{ count['p'] }][c[#{ count['c'] += 1 }][t]]",
            composition.title,
            class: 'formp-title-autocomplete' + (composition.id.present? ? ' formp-existing' : '')
          = hidden_field_tag "p[#{ count['p'] }][c[#{ count['c'] }][id]]",
            composition.original

    %div.formp-button-wrap
      %button.formp-add-title(type="button"
        id="p[#{ count['p'] }]_add_title"
        data-p-id="#{ count['p'] }"
        data-count="#{ performance.compositions.length }") Add Title

  %fieldset.formp-artists.formp-subfieldset
    %div.formp-label Artists
    %fieldset.formp-artist-groups.formp-subsubfieldset
      - performance.artists.each do |artist|
        %fieldset.formp-artist-group
          = text_field_tag "p[#{ count['p'] }][a[#{ count['a'] += 1 }][n]]",
            artist.name,
            class: 'formp-artist-autocomplete' + (artist.id.present? ? ' formp-existing' : '')
          = hidden_field_tag "p[#{ count['p'] }][a[#{ count['a'] }][id]]",
            artist.original
          
    %div.formp-button-wrap
      %button.formp-add-artist(type="button"
        id="p[#{ count['p'] }]_add_artist"
        data-p-id="#{ count['p'] }"
        data-count="#{ performance.artists.length }") Add Artist
