%div.form-performance-container{ id: "p[#{ count['p'] += 1 }]" }
  %fieldset.form-performance
    %p.fieldset-label Performance
    %fieldset.performance-title.subfieldset
      %div.subfieldset-label Titles
      - performance[:c].each do |composition|
        = text_field_tag "p[#{ count['p'] }][c[#{ count['c'] += 1 }][t]]",
          composition[:title],
          class: 'c-autocomplete'
        = hidden_field_tag "p[#{ count['p'] }][c[#{ count['c'] }][id]]",
          composition[:id]
        %button.add-composition(type="button"
          data-count="#{performance[:c].length}") Add Title
    %fieldset.performance-artist.subfieldset
      %div.subfieldset-label Artists
      - performance[:a].each do |artist|
        = text_field_tag "p[#{ count['p'] }][a[#{ count['a'] += 1 }][n]]",
          artist[:name],
          class: 'a-autocomplete'
        = hidden_field_tag "p[#{ count['p'] }][a[#{ count['a'] }][id]]",
          artist[:id]
        %button.add-artist(type="button"
          data-count="#{performance[:a].length}") Add Artist
