<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? content_for(:title) : "Wavenique" %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'shared/nav' %>
    <main>
      <%= yield %>
    </main>
    <% if Rails.env.development? and false %>
      <aside id="debug">
        <%= yield :debug %>
        <%= debug params if false %>
        <%= debug session if false %>
        <%= debug current_user if false %>
      </aside>
    <% end %>
  </body>
</html>
