<!DOCTYPE html>
<html>
<head>
  <title>Vagrant</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render 'shared/nav' %>
	<div class="content">
		<%= yield %>
	</div>

	<% if Rails.env.development? %>
		<%= yield :debug %>
		<%= debug params if false %>
		<%= debug session if false %>
		<%= debug current_user if 1 %>
	<% end %>

</body>
</html>
